#phpStorm
.idea

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep


# Parameters
/app/config/parameters.yml


# Managed by Composer
/app/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/
web/css/*
web/js/*

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

#bower components - grunt components
/bower_components
/node_modules
/composer.phar

#Css y Js Vendors
**/.sass-cache
!src/DSFacyt/InfrastructureBundle/Resources/public/assets/DSFacyt/angular
/src/DSFacyt/InfrastructureBundle/Resources/public/assets/DSFacyt/stylesheets
/src/DSFacyt/InfrastructureBundle/Resources/public/assets/vendor

