<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('icon-facyt.ico') }}" />
    </head>
    <body>
        <div id="body">
            {% block body %}
            {% endblock body %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
        <div class="div-footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </footer>
</html>
