<script id="modal-info.tpl" type="text/ng-template">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <center>            
            <div class="modal-content">
                <div class="modal-body" style="font-size:20px">
                    <b><center>{[{ requestMessage }]}</center></b>
                </div>                    
            </div>            
        </div>
        </center>
    </div>
</script>