<div class="" style="position: fixed;top: 0.5%;right: 3%;">
    <div class="row">
        <h3 class="pull-right">
            <span class="fa fa-pencil"></span> {[{notifications.texts.length}]}     
            <span class="fa fa-camera"></span> {[{notifications.images.length}]}     
            <span class="fa fa-play-circle-o"></span> {[{notifications.videos.length}]}
        </h3>
    </div>
 </div>