{% extends "DSFacytInfrastructureBundle:Admin/Default:base.html.twig" %}

{% block title_notifications %}
    <span class="fa fa-home"></span> Bienvenido.
{% endblock title_notifications %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    Fecha Inicial <input class="form form-control">
                </div>
                <div class="col-xs-2">

                    Fecha Final <input class="form form-control">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h4><span class="fa fa-bell-o"></span> Publicaciones </h4>
            Publicaciones realizadas por los usuarios
            <div class="row">
                <div class="col-xs-4">
                    <div class="panel panel-default">
                    	  <div class="panel-heading">
                    			<h3 class="panel-title"><span class="fa fa-pencil"></span> Textos</h3>
                    	  </div>
                    	  <div class="panel-body">
                    			Nuevo 2
                    	  </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-camera"></span> Imágenes</h3>
                        </div>
                        <div class="panel-body">
                            Panel body
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-play"></span> Videos</h3>
                        </div>
                        <div class="panel-body">
                            Panel body
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h4> <span class="fa fa-desktop"></span> Canales</h4>
            Medios donde se realizaran publicaciones
            <div class="row">
                {% for i in 1..3 %}
                <div class="col-xs-4">
                    <div class="panel panel-default">
                    	  <div class="panel-heading">
                    			<h3 class="panel-title">Nombre del Canal</h3>
                    	  </div>
                    	  <div class="panel-body">
                    			Panel body
                    	  </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}
