{% extends "@DSFacytInfrastructure/Admin/Publish/base.htmll.twig" %}

{% block title %} Imágenes {% endblock title %}

{% block title_notifications %}
    <span class="fa fa-picture-o"></span> Imágenes
{% endblock title_notifications %}

{% block table %}
    <div class="row" ng-if="publish != null">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width:6%">#</th>
                    <th >Usuario</th>
                    <th >Fecha Inicial</th>
                    <th >Fecha Final</th>
                    <th>Título</th>
                    <th style="width:6%">Destacar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="currentPublish in publish">
                    <td ng-if="pagination.current">{[{ $index  + 1 + ((pagination.current - 1)  * 10)  }]}</td>
                    <td ng-if="!pagination.current">{[{ $index  + 1 }]}</td>
                    <td > {[{ currentPublish.user_name }]}</td>
                    <td> {[{ currentPublish.start_date}]}</td>
                    <td> {[{ currentPublish.end_date }]}</td>
                    <td> <a ng-href="{[{urlEdit}]}" ng-click="generateUrlEdit($index)">{[{ currentPublish.title }]} </a></td>
                    <td> <center><a ng-click="updateImportant($index);"><span class="fa fa-star" ng-class="{'status-change':currentPublish.important}"></span></a></center></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ include("DSFacytInfrastructureBundle:Admin/Publish/Modal:modalPreviewImage.html.twig") }}
{% endblock table %}

{% block javascripts%}
    {{ parent() }}
{% endblock javascripts %}