{% extends "@DSFacytInfrastructure/Admin/Publish/base.htmll.twig" %}

{% block title %} Textos {% endblock title %}

{% block title_notifications %}
    <span class="fa fa-pencil"></span> Textos
{% endblock title_notifications %}

{% block table %}
    <div class="row" ng-if="publish != null">
        <div class="col-xs-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Fecha Inicial</th>
                    <th>Fecha Final</th>
                    <th>Título</th>
                    <th style="width:6%">Detalle</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="currentPublish in publish" ng-cloak>
                    <td ng-if="pagination.current">{[{ $index  + 1 + ((pagination.current - 1)  * 10)  }]}</td>
                    <td  ng-if="!pagination.current">{[{ $index  + 1 }]}</td>
                    <td > {[{ currentPublish.user_name }]}</td>
                    <td> {[{ currentPublish.start_date}]}</td>
                    <td> {[{ currentPublish.end_date }]}</td>
                    <td> {[{ currentPublish.title }]}</td>
                    <td> <center><a href="#" ng-click="modalPreviewPublish($index);"><span class="fa fa-eye"></span></a></center></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ include("DSFacytInfrastructureBundle:Admin/Publish/Modal:modalPreviewText.html.twig") }}
{% endblock table %}

{% block javascripts%}
	{{ parent() }}
{% endblock javascripts %}
