<nav class="navbar navbar-custom navbar-fixed-top top-navbar-panel" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{path('ds_facyt_infrastructure_homepage')}}">
                <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li class="active">
                    <a class="page-scroll" href="#"> <span class="fa fa-unlock"></span> Restablecer Contraseña</a>
                </li>
                {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_security_login' %}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_security_login') }}"> <span class="fa fa-user"></span> Entrar</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="divider-header-body"></div>