{% extends "DSFacytInfrastructureBundle:Resetting:layoutResetting.html.twig" %}
{% block title %} Restablecer contraseña {% endblock %}
{% block body %}
    <div id="body-login" style="min-height: 92vh;color:white;">
        <br>
        <br>
        <div class="container">
            <div class="col-xs-5">
                <h2>La contraseña ha sido solicitada</h2>
                <h4>¡Intenta nuevamente dentro de 24 horas!</h4>
                <a href="{{ path('ds_facyt_infrastructure_user_security_login') }}"><button type="button" class="btn btn-primary col-xs-8">Volver</button></a>
            </div>
        </div>
    </div>
{% endblock body %}