{% extends "DSFacytInfrastructureBundle:Resetting:layoutResetting.html.twig" %}
{% block title %} Restablecer contraseña {% endblock %}
{% block body %}
<div id="body-login">
<div class="container" style="height:100vh;padding-top:7%">
    <div class="row">        
        <div class="col-md-7" >
            <h1 id="login-title"><b>Restablecer contraseña</b></h1>
            <h3 id="login-info">
                <i class="fa fa-check"></i> Ingresa tu nombre de usuario o correo electrónico<br><br>
                <i class="fa fa-check"></i> Te enviaremos un correo de confirmación<br><br>
                <i class="fa fa-check"></i> <a href="{{path('ds_facyt_infrastructure_user_security_login')}}">Iniciar sesión </a><br>
            </h3>
        </div>
        <div class="col-md-5">
          <form action="{{ path('ds_facyt_infrastructure_resetting_send_email') }}" method="POST" >
                <div class="panel panel-default" id="panel-login">
                    <div class="panel-heading" ><b><h4>Inicio de Sesión</b></h4></div>
                    <div class="panel-content">                        
                        <div class="tab-pane active panel-body" id="login">
                            {% if error is defined %}
                                <span style="color:#DB2929">
                                    <span class="fa fa-warning"></span> Datos incorrectos
                                </span>
                                <br>
                                <br>
                            {% endif %}
                              <label ><span class="fa fa-user"></span> Nombre de Usuario o correo electrónico</label>
                            <input type="text" id="username" name="username" class="form-control my-input" required="required" placeholder="Nombre de usuario / correo electrónico"/>
                        <br>
                        
                        </div>
                    </div>                    
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block " ><b>Ingresar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
          </form>
        </div>
    </div>
    </div>
{% endblock body %}