{% extends "DSFacytInfrastructureBundle:Resetting:layoutResetting.html.twig" %}
{% block title %} Restablecer contraseña {% endblock %}
{% block body %}

	<div id="body-login" style="min-height: 92vh;color:white;">
	<br>
	<br>
        <div class="container">
    		<div class="col-xs-4">
                <h2>Actualización exitosa</h2>
                <h4 class="form-extranet-heading">Ingresa nuevamente</h4>                
                <a href="{{ path('ds_facyt_infrastructure_user_security_login')}}">
                <button type="button" class="btn btn-primary col-xs-12">Iniciar sesión</button>
                </a>                
            </div>
        </div>
    </div>

{% endblock body %}