{% extends "DSFacytInfrastructureBundle:Display:base.html.twig" %}

{% block stylesheets %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/display.css') }}"/>
    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endif %}

{% endblock %}

{% block body %}
    <div class="container-display" style="height: 100vh !important;width: 100%;background: blue" >
        <div class="block-media" style="background:green;height: 93vh;width: 64.9%;float: left;border-right: 1px solid black;position: relative">
            <img style="height:612px;width: 100%" src="http://www.facyt.uc.edu.ve/sites/default/files/aviso%20web%20cronograma%20de%20Acto%20JUL-2015.jpg">
        </div>
        <div class="block-info" style="background: yellow;height: 93vh;width: 35%;float: left">
            <div class="block-info" style="height: 20vh;border-bottom: 1px solid black;">
                <div class="block-time" style="margin: 10px">
                    <div class="time" style="font-size: 200%">
                        07:00 AM
                    </div>
                    <div class="date" style="font-size: 200%">
                        Dic, 10 Abril
                    </div>
                </div>
            </div>
            <div class="block-text" style="height: 80vh">
                {% for i in 1..3 %}
                    <div class="panel panel-default" style="height: 25.0vh !important;border-bottom: 1px solid black;margin: 0px">
                        <div class="panel-heading">
                            <b>Suspención de Parcial</b> <span style="float: right"> 10:10 AM</span>
                        </div>
                    	<div class="panel-body" style="font-size: 120%">
                            Se cambia la fecha del parcial de Algoritmos 2 para el día 12/03/2017
                    	</div>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="block-info" style="background: black;height: 7vh;width: 100%;float: left;color: white;font-size: 20px">
            <span style="padding: 10px;"> Feliz Día del estudiante universitario   --- ¿ Quieres publicar ? Ingresa en www.dsfacyt.com.ve </span>
        </div>
    </div>
{% endblock body %}