<nav class="navbar navbar-inverse navbar-fixed-top top-navbar-panel" role="navigation" id="top-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('ds_facyt_infrastructure_homepage')}}">
            <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse sidebar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span class="fa fa-home"></span> Principal</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-pencil"></span> Textos</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-picture-o"></span> Imágenes</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-video-camera"></span> Videos</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user"></span> Perfil</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>