<script id="modal-deleteText.tpl" type="text/ng-template">
    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <form name="form" class="css-form" novalidate>
                <div class="modal-content">
                    <div class="modal-header" >
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" >
                                    <span class="fa fa-pencil"></span>
                                    Texto - {[{ data[indexPreview].title}]}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" style="font-size:16px">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label class="control-label">Título</label>
                                <span>{[{data[indexPreview].title}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label class="control-label">Hora a publicar</label>
                                <span>{[{data[indexPreview].publish_time}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-xs-offset-1">
                                <label class="control-label">Fecha de Publlicación</label>
                                <span>{[{data[indexPreview].start_date}]}</span>

                            </div>
                            <div class="col-xs-5 ">
                                <label class="control-label">Fecha Final</label>
                                <span>{[{data[indexPreview].end_date}]}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <b>Canales:</b>
                                <span ng-repeat="(key, value) in data[indexPreview].channels">
                                    <label for="registerText_Channels_1">{[{ value.channel_name }]}</label>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label class="control-label">Información:</label>
                                <span> {[{data[indexPreview].info}]}</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <button class="btn btn-primary" ng-click="deleteText(indexPreview)"><span class="fa fa-trash"></span> Eliminar</button>
                                <button type="button" class="btn btn-default" ng-click="$hide()">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>