<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <p><h3 class="title">Contacto</h3></p>
        Dirección: UC, FACYT, Campus Bárbula, Estado Carabobo.
        Teléfono: (0241) 6004000 Ext. 315061
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
            <h3 class="title">Enlaces</h3>
            <a href="" style="color:white"> - Universidad de Carabobo</a><br>
            <a href="" style="color:white"> - Facultad de Ciencias y Tecnología</a><br>
            <a href="" style="color:white"> - Dirección de Tecnología Avanzada</a><br>
            <a href="" style="color:white"> - Sistema Integral de Videoconferencias</a><br>
        </div>
    </div>
    <br>
</div>

