    <div class="container">
        <div class="row">
        	<div class="col-xs-3">
        	<p><h3>Contacto</h3></p>
			Dirección: UC, FACYT, Campus Bárbula, Estado Carabobo.
			Teléfono: (0241) 6004000 Ext. 315061
        	</div>
        </div>
    </div>

