{% extends "base.html.twig" %}

{% block stylesheets %}
    {% if app.environment == "dev" %}   

        {% stylesheets '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/stylesheets/screen.css' filter='?yui_css'  %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}    
    {% endif %}   
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="fa fa-lg fa-desktop"></span>

                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">¿Cómo publicar?</a>
                    </li>
                    <li>
                        <a href="#">Registrate</a>
                    </li>
                    <li>
                        <a href="#">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>    
    <div style="background-image:url('http://placehold.it/1271px374px');margin-top:45px;height:400px;width:100%">
    <div class="container">
    <br>
        <div class="row">
        <div class="col-xs-12">
            <a href="#" class="btn btn-primary">Publicar Aquí</a> 
        </div>
        </div>
    </div>
    </div>
    <div class="container" >
        <br>
        <br>
        <div class="row text-center">
                <div class="col-xs-12">
                    <h2>CANALES DISPONIBLES</h2>
                    <p>Selecciona cual es el canal donde quieres publicar</p>
                </div>
            </div>
            <hr>
            <br>
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="box-shadow:2px 2px  2px gray">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Cafetín</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Publicar Aquí</a> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="box-shadow:2px 2px  2px gray">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Edificio de Aulas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Publicar Aquí</a> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="box-shadow:2px 2px  2px gray">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Biología</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Publicar Aquí</a> 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" style="box-shadow:2px 2px  2px gray">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Decanato</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Publicar Aquí</a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>

    <div class="row" style="height:300px;background:#121214">
    </div>
</div>  
{% endblock %}

{% block javascripts%}
    {% javascripts         
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/jquery.js' 
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/bootstrap.js'
    filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}