<div class="container">
	Volver a Cargar una imagen
	<a href="{{path('ds_facyt_infrastructure_upload_image')}}"> _ Pulsa Aquí _</a>
	<br><br>

	<div class="col-xs-12">
		IMAGEN ORIGINAL
		<br>
		<img src="{{asset(path)}}" />
	</div>
	
</div>